html,
body {
    height: 100%;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 10rem;
}

.inner {
    width: 100%;
    max-width: 75rem;
    height: inherit;
}

.header {
    height: 4.625rem;
    box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.25);
}

.header-inner,
.header_inner_right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_inner_right>.finder {
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
}


/* button */

.btn {
    text-transform: uppercase;
    border-radius: 5px;
    padding: 18px;
}


/* outline style */

.btn-outline {
    border: 1px solid #F7941E;
    color: #F7941E;
}


/* adds background to the button */

.btn-solid {
    border: 1px solid #F7941E;
    color: #fff;
    background-color: #F7941E;
}

.logo {
    font-style: italic;
    font-size: 36px;
    padding: 20px 60px;
}

.menu .menu_list>li {
    display: inline-block;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 10px;
    font-family: 'Open Sans', sans-serif;
}

.menu_item a {
    color: #020202;
    font-weight: 300;
}

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 500px;
}

.grid>.box {
    border-style: none;
    background-color: rgb(214, 214, 214);
    padding: 10% 20%;
}

.grid>.box h1 {
    font-size: 60px;
    margin-bottom: 15%;
}

.grid>.box h2 {
    font-size: 26px;
    font-weight: 200;
    margin-bottom: 15%;
}

.grid>.box p {
    font-size: 24px;
    margin-bottom: 25%;
}


/* style for the images in the grid */

.grid>.item img {
    width: 100%;
    height: 500px;
}

.occasions {
    background-color: #fff;
}

.occasions-heading {
    text-align: center;
    padding: 5% 0;
}

.occasions-heading .title {
    font-size: 32px;
}

.occasions-heading .subtitle {
    font-size: 16px;
}

.occasions-content {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 17px;
    margin: 0 auto;
    padding: 0 8%;
}


/* occasion items */

.occasions-content .item {
    background-color: #FAFAFA;
    margin-bottom: 25%;
}

.occasions-content .item .first {
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
}


/* for the description */

.occasions-content .description {
    padding: 5px 20px 20px;
}

.occasions-content .description p {
    margin-bottom: 40%;
}

.getstarted {
    background: #F7941E;
    padding: 6%;
}

.getstarted>.content-inner {
    display: flex;
    margin: 0 10%;
    justify-content: space-between;
}

.getstarted .get-buttons {
    margin-top: 5%;
}

.getstarted .get-text>h2 {
    font-size: 32px;
    margin-block-start: 0.2em;
    margin-block-end: 0;
}

.getstarted .get-text>p {
    font-size: 32px;
    font-weight: 200;
    margin-block-start: 0.2em;
    margin-block-end: 0.2em;
}

.btn-dark-solid {
    border: 1px solid #030303;
    color: #fff;
    background-color: #030303;
}

.btn-dark-outline {
    border: 1px solid #030303;
    color: #030303;
}

.blog-ever-heading {
    text-align: center;
    padding: 5% 0;
}

.blog-ever-heading .title {
    font-size: 32px;
}

.blog-ever-heading .subtitle {
    font-size: 16px;
}


/* .couple {
    float: left;
} */

.word {
    display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 200px;
    grid-gap: 20px;
    margin: 0 5%;
}

.write-up {
    background-color: #020202;
    padding: 5%;
}

.write-up h4 {
    color: white;
}

.write-up h2 {
    color: white;
}

.write-up a {
    color: white;
}

.write {
    float: left;
    background-color: #fff;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.25);
}

.write-o {
    float: right;
}

.footer {
    background-color: whitesmoke;
}

.footer .menu .li {
    list-style: none;
}

.black {
    display: flex;
    margin: 0 auto;
    padding: 0 10%
}